<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DualSoft-Common-Core" version="0.1.8" targetFramework="net48" />
  <package id="DualSoft-Common-Core-FS" version="0.1.2" targetFramework="net48" />
  <package id="DualSoft-Common-Winform" version="0.1.1" targetFramework="net48" />
  <package id="FSharp.Core" version="7.0.0" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Microsoft.Msagl" version="1.1.6" targetFramework="net48" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.6" targetFramework="net48" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.1.7" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>