@using static Engine.Core.InfoPackageModule
@* CompDsObjectSelector *@


@if (System == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxButton Click="@(() => _refCompShowHide.Toggle())" IconCssClass="oi oi-cog" Text="@_showOrHide" />

    <div class="ds-sticky-container">
        <CompShowHide @ref="_refCompShowHide" ShowOnInit="true">
            <div class="ds-non-sticky">
                @HeaderContent
                <CompFqdnSelector System="System" OnItemSelected="OnItemSelected" />
                @FooterContent
            </div>
        </CompShowHide>

        <div class="@(_refCompShowHide != null && _refCompShowHide.IsVisible ? "ds-sticky" : "")">
            @ChildContent
        </div>
    </div>
}



@code {
    CompShowHide _refCompShowHide;
    string _showOrHide => (_refCompShowHide == null || _refCompShowHide.IsVisible) ? "Hide" : "Show";
    InfoBase Selected { get; set; }
    [Parameter] public InfoSystem System { get; set; }

    [Parameter] public EventCallback<IInfoBase> OnItemSelected { get; set; }      // obj = {InfoBase, InfoDevice}
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment HeaderContent { get; set; }
    [Parameter] public RenderFragment FooterContent { get; set; }
}
