**/__pycache__
**/node_modules
**/yarn-error.log
**/.vscode
**/.antlr
DsEnginePython/antlr4_parser/src/
DsDotNet/packages/
DsDotNet/bin/
DsDotNet/obj/
Grammar/CsParser/obj/
Grammar/CsParser/bin/
*.xlsx
/DsDotNet/src/UnitTest/UnitTest.Engine/XgiXmls/*.xml
/DsDotNet/src/UnitTest/UnitTest.PLC.Xgi/XgiXmls/*.xml
