**/__pycache__
**/node_modules
**/yarn-error.log
**/.vscode
**/.antlr
**/.idea
DsEnginePython/antlr4_parser/src/
DsDotNet/packages/
DsDotNet/bin/
DsDotNet/obj/
Grammar/CsParser/obj/
Grammar/CsParser/bin/
/DsDotNet/src/UnitTest/UnitTest.Engine/XgiXmls/*.xml
/DsDotNet/src/UnitTest/UnitTest.PLC.Xgi/XgiXmls/*.xml
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/Sample/*/*.xml
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/Sample/*/*.xlsx
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/Sample/*/*.xgdb
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/Sample/*/*.state
/DsDotNet/src/UnitTest/**/*.xgs
/DsDotNet/src/UnitTest/**/*.vmt
/DsDotNet/src/UnitTest/**/*.wstx
/DsDotNet/src/UnitTest/**/*.cst
/DsDotNet/src/UnitTest/**/*.dst
/DsDotNet/src/UnitTest/**/*.xgdb
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/Sample/*.xml
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/Sample/*autogen*


/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/Sample/**/*.xlsx
*.zip
*.exe
*.dll
*.xgwx
*.xgdb
*.xgwx_bkx0
*.bak0
*.bak1
*.bak2
*.osts
*.dsz
*.~*#

/.vs
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/demo/ppt/kit_DS_autogen/*

/DsDotNet/Apps/OfficeAddOn/PowerPointAddInSetup/PowerPointAddIn
/DsDotNet/src/UnitTest/UnitTest.Model/test-origin-config.json
/DsDotNet/src/UnitTest/UnitTest.Model/UnitTestExample/test-model-config.json





/DsDotNet/Apps/OfficeAddIn/PowerPointAddIn For Dualsoft Setup/PowerPointAddIn/*.vsto
/DsDotNet/Apps/OfficeAddIn/PowerPointAddIn For Dualsoft Setup/PowerPointAddIn/Application Files/**/*.*
/DsDotNet/Apps/OfficeAddIn/PowerPointAddIn For Dualsoft Setup/PowerPointAddIn/Application Files/*.*

/DsDotNet/Apps/OfficeAddIn/PowerPointAddIn For Dualsoft Setup/SetupRelease/PowerPointAddIn For Dualsoft Setup.msi
/DsDotNet/Apps/OfficeAddIn/PowerPointAddInHelper/*.xml
/DsDotNet/Apps/OfficeAddIn/PowerPointAddInHelper/*.xlsx
/DsDotNet/Apps/OfficeAddIn/PowerPointAddInHelper/*.ds
/DsDotNet/src/UnitTest/UnitTest.PowerPointAddIn/**/*.xlsx
/DsDotNet/src/UnitTest/UnitTest.PowerPointAddIn/**/*.xml

/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/**/*.zip
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/**/*.ds
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/**/*.json
/DsDotNet/Apps/OfficeAddIn/PowerPointAddInHelper/*.json
/DsDotNet/src/UnitTest/UnitTest.Model/dualsoft.json

/DsDotNet/Apps/OfficeAddIn/PowerPointAddInHelper/Utils/*.xlsx
/DsDotNet/Apps/OfficeAddIn/PowerPointAddInHelper/Utils/*.ds
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/Sample/Sample.7z
/DsDotNet/src/UnitTest/UnitTest.Model/ImportOfficeExample/exportDS.Zip
/DsDotNet/src/IOHub/ThirdParty/LS/IOClient.Xgi/zmqhw.json
/DsDotNet/Apps/OfficeAddIn/PowerPointAddInHelper/Utils/*.state
/DsDotNet/*.lnk
/DsDotNet/Apps/OfficeAddIn/PowerPointAddIn For Dualsoft Setup/SetupRelease/data/Data.msi

/DsDotNet/Apps/OfficeAddIn/PowerPointAddInHelper/Utils/dsLib/Cylinder/DoubleCylinder.ds
Logger.sqlite3
Tmp/
**/Unused/
**/unused/
**/bak/
