@* CompHmiJobsInFlowTable *@

@using Engine.Core

@if (_loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <li>Direct call of @Flow.Name </li>
    <DxGrid Data="_jobs">
        <Columns>
            <DxGridDataColumn FieldName="Name" Caption="Job"></DxGridDataColumn>

            @* <ButtonLampColumn Caption="Clear" CompositeGetter="@((dataItem) =>((HMIJob)dataItem).JobPushMutiLamp)" /> *@
            @* <DxGridDataColumn Caption="이름" FieldName=@nameof(HMIJob.Name)/> *@
            <ButtonColumn Caption="강제시작" TagGetter="@((dataItem) =>((HMIJob)dataItem).JobPushMutiLamp.Item1)" />

        </Columns>
    </DxGrid>
}

@code {
    bool _loading = true;
    [Parameter] public HMISystem System { get; set; }
    [Parameter] public HMIFlow Flow { get; set; }
    HMIJob[] _jobs;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (Flow is null)
        {

        }
        else
        {

        }
        _jobs = Flow.Reals.SelectMany(r => r.Jobs).ToArray();
        _loading = false;
    }
}



