<p>@Flow.Name</p>


@*
    type HMIFlow = {
        Name             : string
        AutoManualSelect : HMISelect
        DrivePush        : HMIPush
        StopPush         : HMIPush
        ClearPush        : HMIPush
        EmergencyPush    : HMIPush
        TestPush         : HMIPush
        HomePush         : HMIPush
        ReadyPush        : HMIPush

        DriveLamp        : HMILamp
        AutoLamp         : HMILamp
        ManualLamp       : HMILamp
        StopLamp         : HMILamp
        EmergencyLamp    : HMILamp
        TestLamp         : HMILamp
        ReadyLamp        : HMILamp
        IdleLamp         : HMILamp

        Reals            : HMIReal array
    }
 *@


@code {
    [Parameter] public HMIFlow Flow { get; set; }
}
