@* CompHmiRealTable *@

@using Engine.Core

@if (_loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxGrid Data="Reals">
        <Columns>
            <DxGridDataColumn FieldName="Name" Caption="Real"></DxGridDataColumn>
            <LampRealColumn Caption="상태(RGFH)"/>
            <ButtonColumn Caption="자동시작" TagGetter="@((dataItem) =>((HMIReal)dataItem).StartPush)" />
            <ButtonColumn Caption="자동복귀" TagGetter="@((dataItem) =>((HMIReal)dataItem).ResetPush)" />
            <ButtonColumn Caption="작업완료SET" TagGetter="@((dataItem) =>((HMIReal)dataItem).ONPush)" />
            <ButtonColumn Caption="작업완료RST" TagGetter="@((dataItem) =>((HMIReal)dataItem).OFFPush)" />
        </Columns>
    </DxGrid>
}

@code {
    bool _loading = true;
    [Parameter] public HMIReal[] Reals { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _loading = false;
    }
}



