@* CompHmiRealTable *@

@using Engine.Core
@using System.Reactive.Subjects

@inherits CompHmiTagManager
@implements IAsyncDisposable


@if (_loading)
{
    <p><em>Loading...</em></p>
}
else
{
    // todo : Lamp 표시 (R/G/F/H)
    <DxGrid Data="Reals" @ref="MyGrid">
        <Columns>
            <DxGridDataColumn FieldName="Name" Caption="Real"></DxGridDataColumn>

            <CompHmiButtonColumn ForceWidth=120 Caption="자동시작" TagGetter="@((dataItem) =>((HMIReal)dataItem).StartPush)" />
            <CompHmiButtonColumn ForceWidth=120 Caption="자동복귀" TagGetter="@((dataItem) =>((HMIReal)dataItem).ResetPush)" />
            <CompHmiButtonColumn ForceWidth=160 Caption="작업완료SET" TagGetter="@((dataItem) =>((HMIReal)dataItem).ONPush)" />
            <CompHmiButtonColumn ForceWidth=160 Caption="작업완료RST" TagGetter="@((dataItem) =>((HMIReal)dataItem).OFFPush)" />

        </Columns>
    </DxGrid>
}

@code {
        bool _loading { get; set; } = true;
        IGrid MyGrid { get; set; }
        [Parameter] public HMIReal[] Reals { get; set; }


    protected override async Task OnInitializedAsync()
    {
        base.ComponentName = "CompHmiRealTable.razor";
        await base.OnInitializedAsync();
        _loading = false;
    }
}



