@using DsWebApp.Client.Pages.Hmis.Widget
@using Engine.Core
@using System.Reactive.Subjects

@inherits CompHmiTagManager
@implements IAsyncDisposable


@if (_loading)
{
    <p><em>Loading...</em></p>
}
else
{
    // todo : Lamp 표시 (R/G/F/H)
    <DxGrid Data="Reals" @ref="MyGrid">
        <Columns>
            <DxGridDataColumn FieldName="Name" Caption="Real"></DxGridDataColumn>

            <CompHmiButtonColumn ForceWidth=120 Caption="자동시작" OnClick="@onAutoStart" />
            <CompHmiButtonColumn ForceWidth=120 Caption="자동복귀" OnClick="@onAutoHome" />
            <CompHmiButtonColumn ForceWidth=160 Caption="작업완료SET" OnClick="@onCompleteSet" />
            <CompHmiButtonColumn ForceWidth=160 Caption="작업완료RST" OnClick="@onCompleteReset" />

        </Columns>
    </DxGrid>
}

@code {
        bool _loading { get; set; } = true;
        IGrid MyGrid { get; set; }
        [Parameter] public HMIReal[] Reals { get; set; }


    protected override async Task OnInitializedAsync()
    {
        base.ComponentName = "CompHmiRealTable.razor";
        await base.OnInitializedAsync();
        _loading = false;
    }


    async Task onAutoStart    (object dataItem) => await PostTag(((HMIReal)dataItem).StartPush);
    async Task onAutoHome     (object dataItem) => await PostTag(((HMIReal)dataItem).ResetPush);
    async Task onCompleteSet  (object dataItem) => await PostTag(((HMIReal)dataItem).ONPush);
    async Task onCompleteReset(object dataItem) => await PostTag(((HMIReal)dataItem).OFFPush);

}



