@using static Engine.Core.TagWebModule

@using Dual.Web.Blazor.ServerSide
@using TagWeb = Engine.Core.TagWebModule.TagWeb

@inherits CompHmiTagContainer

<h4 class="table-title">@TableName</h4>

<DxGrid Data="_items">
    <Columns>
        <DxGridDataColumn FieldName="Name" />
        <DxGridDataColumn FieldName="Value" />
        <DxGridDataColumn FieldName="Kind" />
        <DxGridDataColumn FieldName="KindDescription" Caption="Desc" />
    </Columns>
</DxGrid>

@code {
    [Parameter] public TagWeb[] RealButtons { get; set; }
    [Parameter] public string TableName { get; set; }

    TagWebORM[] _items;

    protected override async Task OnInitializedAsync()
    {
        await Task.Yield();
        _items = RealButtons.Select(hb => new TagWebORM(hb)).ToArray();
        await InitializeMapAsync(_items);
        Console.WriteLine($"Hub initialized on CompRealButtonTable.razor");
        await base.OnInitializedAsync();
    }
    public override void UpdateStateHasChanged() => StateHasChanged();
}
