@page "/hmis/tags"
@using System.Collections.ObjectModel
@using static Engine.Core.TagKindModule

<h3>PageHmiTags</h3>



<DxLoadingPanel @bind-Visible=_loading
                IsContentBlocked="true"
                CssClass="w-100"
                ApplyBackgroundShading="true">

    <DxGrid Data="_items">
        <Columns>
            <DxGridDataColumn FieldName="Name" />
            <DxGridDataColumn FieldName="Value" />
            <DxGridDataColumn FieldName="Kind" />
            <DxGridDataColumn FieldName="Message" />
        </Columns>
    </DxGrid>
</DxLoadingPanel>

@code {
    class TagWebORM(string name, object value, int kind, string message)
    {
        public string Name => name;
        public string Message => message;
        public object Value => value;
        public int Kind => kind;

        public TagWebORM(TagWeb tagWeb) : this(tagWeb.Name, tagWeb.Value, tagWeb.Kind, tagWeb.Message)
        {            
        }
    };

    bool _loading { get; set; } = true;
    ObservableCollection<TagWebORM> _items;
    HubConnection _hubConnection;
    IDisposable _subscription;

    protected override async Task OnInitializedAsync()
    {
        var allTagWebs = await Http.GetFromJsonAsync<TagWeb[]>($"api/model/tag");
        TagWebORM[] allTags = allTagWebs.Select(tw => new TagWebORM(tw)).ToArray();
        _items = new ObservableCollection<TagWebORM>(allTags);

        // _hubConnection = await NavigationManager.ToAbsoluteUri("/hub/vanilla").StartHubAsync();
        // _subscription =
        //     _hubConnection.On<TableHistory>("TableRowChanged", async (TableHistory change) =>
        //     {
        //         Console.WriteLine($"TableRowsAdded notification received with {change.Name}/{change.Operation}.  waiting for {_tableName}");
        //         if (!change.Name.EqualsIgnoringCase(_tableName))
        //         {
        //             Console.WriteLine($"Ignoring notification for {change.Name} != {_tableName}");
        //             return;
        //         }

        //         await getAllItemsAsync();

        //         // Page 다시 로딩 되기 이전에, 약간의 delay 를 주어서 getItemAsync() 결과를 받을 수 있도록 보장???
        //         // `The connection to ws://localhost:50294/TwmApp.Server/ was interrupted while the page was loading.`
        //         await Task.Delay(200);
        //         StateHasChanged();
        //     });

        // await getAllItemsAsync();
        _loading = false;
        await base.OnInitializedAsync();
    }

    // async Task backupOnceAsync(object oAssetId)
    // {
    //     int assetId = (int)oAssetId;
    //     Console.WriteLine($"Requesting backup once for assetId: {assetId}");

    //     _loading = true;
    //     var reply = await Http.GetFromJsonAsync<AmDxbS2CReplyBackupOnce>($"api/DexaProxy/backupOnce/{assetId}");
    //     _loading = false;
    //     if (reply.Succeeded)
    //         await JsDual.Confirm($"Got OK backup result.\r\nCheck details");
    //     else
    //         await JsDual.Alert($"Got NG backup result.\r\n{reply.ErrorMessage}");
    // }
}