{
  "ServicePort": 5555,
  "TopLevelLocation": "/tmp/iomaps",
  "Vendors": [
    {
      "Name": "LsXGI",
      "Location": "",
      "Dll": "F:\\Git\\ds\\DsDotNet\\src\\IOHub\\ThirdParty.AddressInfo.Provider\\bin\\Debug\\net7.0\\ThirdParty.AddressInfo.Provider.dll",
      "ClassName": "ThirdParty.AddressInfo.Provider.AddressInfoProviderLsXGI",
      "Files": [
        {
          "Name": "I",
          "Length": 65536
        },
        {
          "Name": "Q",
          "Length": 1024
        },
        {
          "Name": "M",
          "Length": 2048
        }
      ]
    },
    {
      "Name": "Paix",
      "Location": "p",
      "Dll": "F:\\Git\\ds\\DsDotNet\\src\\IOHub\\ThirdParty.AddressInfo.Provider\\bin\\Debug\\net7.0\\ThirdParty.AddressInfo.Provider.dll",
      "ClassName": "ThirdParty.AddressInfo.Provider.AddressInfoProviderPaix",
      "Files": [
        {
          "Name": "I",
          "Length": 65536
        },
        {
          "Name": "O",
          "Length": 1024
        },
        {
          "Name": "S",
          "IsStringStorage": true
        }
      ]
    }
  ]
}
