framework: auto-detect

source https://nuget.org/api/v2

nuget Antlr4
nuget Antlr4.Runtime.Standard 4.9.3
nuget Antlr4.Runtime
nuget Antlr4BuildTasks 8.17.0
nuget Argu


nuget FSharpPlus
nuget FSharp.Core
nuget log4net
nuget System.Configuration.ConfigurationManager
nuget System.Reactive
nuget System.Management
nuget System.Data.DataSetExtensions

nuget System.IO.Compression
nuget System.Design
nuget DotNetZip
nuget System.Diagnostics.PerformanceCounter

#nuget QuickGraph.NETStandard
nuget YC.QuickGraph
nuget Akka
nuget Akka.Remote

nuget xunit
nuget xunit.runner.visualstudio
nuget FsUnit.xUnit
nuget Microsoft.NET.Test.Sdk


nuget Microsoft.CSharp

#nuget Expecto
#nuget Expecto.BenchmarkDotNet
#nuget Expecto.FsCheck
#nuget Expecto.VisualStudio.TestAdapter version_in_path: true

clitool dotnet-fake

group Formatting
source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharp.Formatting.CommandTool

group FakeBuild
source https://api.nuget.org/v3/index.json

storage: none

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget Fake.DotNet.MSBuild
nuget Fake.Core.ReleaseNotes
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Paket
nuget Fake.DotNet.Testing.Expecto
nuget Fake.DotNet.FSFormatting
nuget Fake.Api.GitHub


#neget System.Runtime.CompilerServices.Unsafe

#nuget System.Security.Permissions >= 4.5 framework: net30
#nuget System.Security.Permissions >= 4.7 framework: net48
#nuget System.Security.Permissions >= 4.7

nuget System.Security.Permissions