{
	"addresses": [
		"192.168.0.194:9092",
		"192.168.0.201:9092"
	],
	"consume": {
		"model-input": {
			"partition": 0,
			"target": 0
		},
		"request": {
			"partition": 0,
			"target": 0
		},
		"stream": {
			"partition": 0,
			"target": 1
		}
	},
	"produce": {
		"ds-pilot": [
			{
				"partition": 0,
				"type": "distributor",
				"target": 0
			},
			{
				"partition": 1,
				"type": "information",
				"target": 0
			},
			{
				"partition": 2,
				"type": "broadcaster",
				"target": 0
			}
		],
		"hmi": [
			{
				"partition": 0,
				"type": "distributor",
				"target": 0
			},
			{
				"partition": 1,
				"type": "information",
				"target": 0
			}
		],
		"cpu": [
			{
				"partition": 0,
				"type": "distributor",
				"target": 0
			}
		],
		"model-input": [
			{
				"partition": 0,
				"type": "distributor",
				"target": 0
			}
		],
		"heart-bits": [
			{
				"partition": 0,
				"type": "heart_bit",
				"target": 0
			}
		]
	}
}