@* WgtEmbeddedLampRGFH *@
@if (!_loading)
{
    <div class="@getClass()" id="@_guid"></div>
}

@code {
    [Parameter] public HMIReal Real { get; set; }
    string _guid;
    bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _guid = Guid.NewGuid().ToString();
        _loading = false;
    }

    // public async Task SetLampStateAsync(Status4 rgfh)
    // {
    //     // Console.WriteLine($"-------- Re-rendering {rgfh}.");
    //     _class = $"embedded-lamp-real {rgfh}";
    //     await JsDual.SetAttribute(_guid, "class", _class);
    // }
    string getClass()
    {
        var xxx = "Ready";
        return $"embedded-lamp-real {xxx}";
    }


}

<style>
    .embedded-lamp-real {
        width: 10px;
        height: 20px;
        border-radius: 10%;
        background-color: red;  /* erroneous */
        margin-right: 10px;
        display: inline-block;
    }
        .embedded-lamp-real.Ready { background-color: green; }
        .embedded-lamp-real.Going { background-color: darkorange; }
        .embedded-lamp-real.Finish { background-color: blue; }
        .embedded-lamp-real.Homing { background-color: gray; }
</style>