@* WgtPbWithLamp *@
@* 
<DxButton Click="@_toggleLamp" RenderStyleMode=ButtonRenderStyleMode.Outline>
    <WgtEmbeddedLamp IsOn=IsOn @ref="_lampRef" />
    @Text
</DxButton>
 *@

@* <button class="btn btn-outline-primary" onclick="@Click"> *@
<button class="btn btn-outline-primary" onclick="@(() => _toggleLamp())">
    <div style="display: flex; align-items: center;">
            <WgtEmbeddedLamp IsOn=IsOn @ref="_lampRef" />
            @Text
    </div>
</button>

@code {
    WgtEmbeddedLamp _lampRef;
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }
    [Parameter] public string Text { get; set; }

    bool _isOn = false; // IsOn 과 별개로 상태 저장 필요
    [Parameter] public bool IsOn { get; set; }
    protected override void OnInitialized()
    {
        _isOn = IsOn;
    }


    void _toggleLamp()
    {
        _isOn = !_isOn;
        Console.WriteLine($"New lamp state: {_isOn}");
        _lampRef.SetLampState(_isOn);
        Click.InvokeAsync();
    }

    public void SetState(bool isOn)
    {
        _isOn = isOn;
        _lampRef.SetLampState(_isOn);
    }
}

