@* CompInlineContainer *@


<div class="inline-container">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}

<style>
    .inline-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .inline-container > * {
            margin-right: 10px; /* 자식 요소들 사이의 간격 조정 */
        }
</style>