@* CompHmiWidgetPushButtonWithLamp *@

<div class="container">
    <DxButton Click="@_toggleLamp">
        <CompEmbeddedLamp @ref="_lampRef" />
        @Text
    </DxButton>
</div>

@code {
    bool _isLampOn = false;
    CompEmbeddedLamp _lampRef;
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }
    [Parameter] public string Text { get; set; }


    void _toggleLamp()
    {
        _isLampOn = !_isLampOn;
        _lampRef.SetLampState(_isLampOn);
        Click.InvokeAsync();
    }
}

<style>
    /*.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    */
    button {
        display: flex;
        align-items: center;
    }

    .lamp-container {
        margin-left: 10px;
    }
</style>
