@page "/demo/google1"

<h3>Google Timeline Chart</h3>

<div id="timeline" style="height: 500px;"></div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsDual.LoadScript("https://www.gstatic.com/charts/loader.js");
        await JsDual.EvalScript("js/pages/PageGoogleTimelineChart_razor.js");
        string t(int h, int m, int s, int ms) => DateTime.Today.AddHours(h).AddMinutes(m).AddSeconds(s).AddMilliseconds(ms).ToString("o");
        var dataTable = new List<object[]>
            {
                new object[] { "Magnolia Room",   "CSS Fundamentals",     "yellow",       null,    t(12,  0, 0, 1), t(14, 0, 0, 100) },
                new object[] { "Magnolia Room",   "Intro JavaScript",     "#cbb69d",      "2",     t(14, 30, 0, 1), t(16, 0, 0, 100) },
                new object[] { "Magnolia Room",   "Advanced JavaScript",  "#cbb69d",      "3",     t(16, 30, 0, 1), t(19, 0, 0, 100) },
                new object[] { "Gladiolus Room",  "Intermediate Perl",    "#cbb69d",      "4",     t(12, 30, 0, 1), t(14, 0, 0, 100) },
                new object[] { "Gladiolus Room",  "Advanced Perl",        "green",        null,    t(14, 30, 0, 1), t(16, 0, 0, 100) },
                new object[] { "Gladiolus Room",  "Applied Perl",         "#cbb69d",      "6",     t(16, 30, 0, 1), t(18, 0, 0, 100) },
                new object[] { "Petunia Room",    "Google Charts",        "#cbb69d",      "7",     t(12, 30, 0, 1), t(14, 0, 0, 100) },
                new object[] { "Petunia Room",    "Closure",              "#cbb69d",      "8",     t(14, 30, 0, 1), t(16, 0, 0, 100) },
                new object[] { "Petunia Room",    "App Engine",           "#cbb69d",      "9",     t(16, 30, 0, 1), t(18, 30, 0, 100) }
            };

        await JsRuntime.InvokeVoidAsync("initializeChartWithObjects", dataTable);
    }
}
