@page "/demo/google"

<h3>PageGoogleTimelineChart</h3>

<div id="timeline" style="height: 500px;"></div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsDual.LoadScript("https://www.gstatic.com/charts/loader.js");
        await JsDual.EvalScript("js/pages/PageGoogleTimelineChart_razor.js");
    }
}
