@page "/demo/google"
@using FlatSpans = System.Tuple<string, Engine.Info.DBLoggerAnalysisDTOModule.Span[]>[];
@using static Engine.Info.DBLoggerAnalysisDTOModule

<h3>Google Timeline Chart</h3>

<div id="timeline" style="height: 500px;"></div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetDeserializedObjectAsycn<SystemSpan>("api/info/log-anal-info");
        var sysSpan = result.Value;
        IEnumerable<object> generateData()
        {
            foreach (var (real, spans) in sysSpan.RealSpans)
            {
                foreach (var s in spans)
                {
                    foreach (var c in s.CallSpans)
                        yield return new { Room = real, Name = c.Fqdn, Color = (string)null, Tooltip = (string)null, Start = c.Start, End = c.End };
                }
            }
        }

        await JsDual.LoadScript("https://www.gstatic.com/charts/loader.js");
        await JsDual.EvalScript("js/pages/PageGoogleTimelineChart_razor.js");
        string t(int h, int m, int s, int ms) => DateTime.Today.AddHours(h).AddMinutes(m).AddSeconds(s).AddMilliseconds(ms).ToString("o");

        var dataTable = generateData().ToList();


        var jsonData = System.Text.Json.JsonSerializer.Serialize(dataTable);
        await JsRuntime.InvokeVoidAsync("initializeChartWithJsonData", jsonData);
    }
}
