@page "/demo/google"

<h3>PageGoogleTimelineChart</h3>

<div id="timeline" style="height: 500px;"></div>

@code {
    protected override async Task OnInitializedAsync()
    {
        /* 이것만... External script 로 로딩이 안되는데.. */
        // await JsDual.EvalExternalScript("https://www.gstatic.com/charts/loader.js");
        await JsRuntime.InvokeVoidAsync("eval", @"
            window.loadScript = (url) => {
                return new Promise((resolve, reject) => {
                    const script = document.createElement('script');
                    script.src = url;
                    script.onload = () => resolve();
                    script.onerror = () => reject(new Error(`Script load error for ${url}`));
                    document.head.appendChild(script);
                });
            };

            loadScript('https://www.gstatic.com/charts/loader.js')
");

        await JsDual.EvalExternalScript("js/pages/PageGoogleTimelineChart_razor.js");
    }
}
