**/__pycache__
**/node_modules
**/yarn-error.log
**/.vscode
**/.antlr
**/.idea

*.zip
*.xgwx

/.vs
RedisPLC/obj/
RedisPLC/bin/
RedisTestFrom/obj/
RedisTestFrom/bin/
*.xgdb

*.xgwx_bkx0
*.bak0
*.bak1
*.bak2
*.osts

