@* PageQuery *@
@page "/dashboards/query"
@using static Engine.Core.InfoPackageModule

<CompTitle Icon="oi oi-zoom-out" Title="Query" />

<CompDashboardInfoFetcher OnInfoSystemUpdated="onInfoSystemUpdated" @ref="_compDashboardInfoFetcher" />

@if (_compDashboardInfoFetcher == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CompFqdnSelectorOverlay System="_compDashboardInfoFetcher.InfoSystem" OnItemSelected="onItemSelected">
        <HeaderContent>
            <CompPeriodSelector ShowTime="_showTime" @bind-StartDate="StartDate" @bind-EndDate="EndDate" />
        </HeaderContent>
        <ChildContent>
            <DsInfoGridSingle Info="_selected" ClientSettings="@ClientGlobal.ClientSettings" />
        </ChildContent>
    </CompFqdnSelectorOverlay>
}


@code {
    CompDashboardInfoFetcher _compDashboardInfoFetcher;
    IInfoBase _selected;

    bool _showTime = false;
    DateTime StartDate { get; set; } = DateTime.Now.Date.AddDays(-1);
    DateTime EndDate { get; set; } = DateTime.Now.Date;

    void onInfoSystemUpdated(InfoSystem infoSystem)
    {
    }
    void onItemSelected(IInfoBase info)
    {
        Console.WriteLine($"StartDate={StartDate}");
        _selected = info;
    }
}
